.product__category, .product__price, .btn {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 700;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

hr {
    border: 0;
    height: 3px;
    width: 30px;
    background-color: #03308e;
    margin: 22px 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0 0 1.5em 0;
}

p:last-child {
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 1.75em 3.5em;
    white-space: nowrap;
    border-radius: 5px;
}

.product {
    position: relative;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15);
}

.product__image {
    width: 100%;
    margin-right: 20px;
}

.product__title {
    font-size: 30px;
    color: #000;
    margin: 0 0 0.5em 0;
    line-height: 1.1;
}

.product__price {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -30px;
    left: -30px;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    border-radius: 50%;
}

.product__category {
    display: block;
    color: #03308e;
    margin-bottom: 1em;
}

.product__btn {
    position: absolute;
    bottom: -30px;
    right: 30px;
    background-color: #03308e;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 30px 25px -20px rgba(0, 0, 0, 0.15);
}

.product__btn:hover {
    box-shadow: 0 36px 28px -20px rgba(0, 0, 0, 0.2);
    background-color: #03308e;
}